@import ../../node_modules/bootstrap/scss/functions
@import ../../node_modules/bootstrap/scss/variables

$red:#c42d40
$mohamed:#9fff76f2
$oussama:#e2e2e2
$purple:#b300ff
$custom-colors:("mohamed":$mohamed,"oussama":$oussama,"purple":$purple,"red":$red)
$theme-colors: map-merge($theme-colors ,$custom-colors )


$spacer:20px
$custom-spacers:(0:0 ,6:$spacer*10 , 7:$spacer*4 ,8:$spacer*13)
$spacers: map-merge($spacers , $custom-spacers)