
.bg-image
    background-image: url(../img/banner1.jpg)
    height: 90vh
    width: 100%
    background-color: rgba(31, 30, 30, 0.8)
    background-blend-mode: darken
    background-repeat: no-repeat
    background-size: cover
    background-position: center
