body
    background-image: url(../img/main_bg.jpg)
.bg-image
    background-image: url(../img/banner1.jpg)
    height: 90vh
    width: 100%
    background-color: rgba(31, 30, 30, 0.8)
    background-blend-mode: darken
    background-repeat: no-repeat
    background-size: cover
    background-position: center

    h1
        font-family: courgette
    button
        border-radius: 20px
        padding: 10px 10px
.section2
    height: 600px
    background-color: #fff
    margin-top: 30px
    width: 100%
    div
        h1
            font-family: courgette
.section3
    background-image: url(../img/team_background.jpg)
    height: auto
    width: 100%
    background-color: rgba(31, 30, 30, 0.8)
    background-blend-mode: darken
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    h1
        font-family: courgette
.section4
    background-color: #fff
    div
        h1
            font-family: courgette
    .section-form
        background-image: url(../img/book_table_bg.jpg)
        height: auto
        width: 60vw
        border-radius: 20px
.div-card
    width: 250px
    position: absolute
    left: 40px
    top:-23px
    border-radius: 10px
    padding: 5px 25px
    p

        color: white
        

    
input
    padding: 12px
    @media (max-width:426px)
            padding-left: 95px

        
    

        
